argcomplete==1.12.3
awscli==1.19.69
awsebcli==3.19.4
botocore==1.20.69
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dnspython==2.1.0
docutils==0.15.2
fastapi==0.64.0
future==0.16.0
h11==0.12.0
idna==2.10
jmespath==0.10.0
packaging==20.9
pathspec==0.5.9
pipx==0.16.2.1
pyasn1==0.4.8
pydantic==1.8.1
pymongo==3.11.4
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pywin32==300
PyYAML==5.3.1
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
semantic-version==2.8.5
six==1.14.0
starlette==0.13.6
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.25.11
userpath==1.5.0
uvicorn==0.13.4
wcwidth==0.1.9
